.header a {
  color: #2e2f42;
}


.header nav a {
  font-size: 16px;
  font-weight: 500;
}


.header a:hover,
.header a:focus {
  color: #404bbf;
}


.header .logo:hover,
.header .logo:focus {
   color: #2e2f42;
}


.header address a {
  color: #434455;
  font-style: normal;
}
